.loading {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background: #13171c;
    opacity: .45;
}

.loading img {
    height: 40vh;
    text-align: center;
    margin-top: 150px;
}